/* Preset State Card */
.presetStateCard {
    cursor: pointer;
    height: 60px;
}

/* Inside preset state card */
.presetStateContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Left icon container */
.iconContainer {
  display: flex;
  margin-right: var(--mantine-spacing-sm);
}

/* Card content default colors */
.arrow,
.question {
    color: var(--mantine-color-gray-6);
    transition: color 0.2s;
}

/* Group title styles */
/* Hover states */
.presetStateCard:hover .arrow,
.presetStateCard:hover .question,
.title.active {
    color: var(--mantine-color-blue-6);
}
.presetStateCard:hover .arrow {
    transform: translateY(-8px);
}