.leftToolbarIcon {
  position: relative;
  z-index: 2;
  pointer-events: auto;

  &[data-active="true"] {
    color: var(--mantine-color-blue-6) !important;
    background-color: var(--mantine-color-blue-0) !important;
    border-color: var(--mantine-color-blue-3) !important;
  }

  &:hover,
  &:focus {
    color: var(--mantine-color-blue-6) !important;
    background-color: var(--mantine-color-blue-0) !important;
    border-color: var(--mantine-color-blue-3) !important;
  }

  svg {
    stroke: currentColor !important;
    fill: none;
  }
}

/* Selected button */
.selected {
  color: var(--mantine-color-blue-6) !important;
  background-color: var(--mantine-color-blue-0) !important;
  border-color: var(--mantine-color-blue-3) !important;
}

.tabOutlineActive {
  border-bottom: 1px solid var(--mantine-color-gray-3) !important;
}