services:
  backend:
    image: docker.io/intelvia/intelvia-backend:v0.0.4
    env_file:
      - .env
    expose:
      - "8000"
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - backend_parquets:/app/parquet_cache

  mariadb:
    image: docker.io/mariadb:11
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./mariadb/conf.d:/etc/mysql/conf.d:z
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 3s
      interval: 10s
      timeout: 5s

  frontend:
    build:
      context: ./frontend
      args:
        VITE_QUERY_URL: ${VITE_QUERY_URL}
    env_file:
      - .env
    ports:
      - "8080:8080"

volumes:
  mariadb_data:
