services:
  backend:
    extends:
      file: docker-compose.yml
      service: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    working_dir: /app/backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app:Z
    command: poetry run python manage.py runserver 0.0.0.0:8000
    tty: true

  mariadb:
    extends:
      file: docker-compose.yml
      service: mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./mariadb/conf.d:/etc/mysql/conf.d:z
      - ./mariadb/initdb:/docker-entrypoint-initdb.d:z

  frontend:
    profiles: ["devcontainer"]
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: build  # Grab the build stage from the Dockerfile
    working_dir: /app/frontend
    volumes:
      - .:/app:Z
    env_file:
      - .env
    environment:
      VITE_DEV_PROXY_TARGET: http://backend:8000
    command: sh -c "while true; do sleep 1000; done"

volumes:
  mariadb_data:
  backend_parquets:
