[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"

[packages]
cx-oracle = "*"
flask = "*"
flask-cors = "*"
django = "~=3.2"
django-cors-headers = "*"
coverage = "*"
gunicorn = "*"
mysqlclient = "*"
django-cas-ng = "==4.1.1"

[scripts]
collectstatic = "python api/manage.py collectstatic"
coverage-report = "coverage report"
coverage-test = "coverage run --source='./api' api/manage.py test api"
makemigrations = "python api/manage.py makemigrations api"
migrate = "python api/manage.py migrate"
serve = "python api/manage.py runserver"
deploy = "python -c 'import os; os.chdir(\"api\"); os.system(\"gunicorn api.wsgi\")'"
test = "python -c 'import os; os.system(\"pipenv run coverage-test ; pipenv run coverage-report\")'"
