[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
cx-oracle = "*"
flask = "*"
flask-cors = "*"
django = "==2.1.*"
django-cors-headers = "*"

[scripts]
serve = "python api/manage.py runserver"
test = "python api/manage.py test api --failfast"
