[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cx-oracle = "*"
flask = "*"
flask-cors = "*"
django = "==2.1.*"

[scripts]
serve = "python api/manage.py runserver"
