

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

#title{
  color:black;
}

.App-link {
  color: #09d3ac;
}
.lineup>div{
  display:flex;
  height:800px
}
.lineup>div>div{
  flex:1 1 auto;
}