.explore-table-data-table td {
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
  padding-top: 1.75px !important;
  padding-bottom: 1.75px !important;
}
.explore-table-data-table tfoot td,
.explore-table-data-table tfoot th {
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}
