.explore-table-data-table td {
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2.25px !important;
  padding-bottom: 2.25px !important;
}

.explore-table-data-table tfoot td,
.explore-table-data-table tfoot th {
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2.25px !important;
  padding-bottom: 2.25px !important;
}