.mantine-DataTable-table td > div,
.mantine-DataTable-table th > div {
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

/* heatmap-specific classes */
.heatmap-grid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.heatmap-col {
  display: flex !important;
  height: 100% !important;
}
.heatmap-col > * {
  flex: 1 1 auto;
  height: 100% !important;
}

.heatmap-cell {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}