.diff {
  font-size: 1rem;
  font-weight: 500;
}

.diffPositive {
  color: var(--mantine-color-teal-6, #12b886);
}

.diffNegative {
  color: var(--mantine-color-red-6, #fa5252);
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.iconHovered {
  color: var(--mantine-color-blue-6);
}