.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sidebar{
  /* float: left;
  width: 5%;
  height: 100%; */
  padding-left: 10px;
  padding-right: 10px
}
/* .canvas-1{
  padding-top: 10px;
  padding-bottom: 10px;
} */
.canvas-2{
  float:left;
  margin-top:10%;
  width: 40%;
  height:80%;
  padding-top: 5%;
  padding-left: 5%;
}



.App-link {
  color: #09d3ac;
}
